
@{
    ViewBag.Title = "Olympea";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";

}

    <style>
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
        .bgimg-1 {
            background-image: url("../Content/ProductImage/olympea1.jpg");
            min-height: 100%;
        }

        .bgimg-2 {
            background-image: url("../Content/ProductImage/olympea2.jpg");
            min-height: 400px;
        }

        .bgimg-3 {
            background-image: url("../Content/ProductImage/olympea3.jpg");
            min-height: 400px;
        }

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


a{
   color: white;
   text-decoration: none;
}

    </style>


    <div class="bgimg-1">
        <div class="caption">
            <span class="border">Paco Rabbane</span>
        </div>
    </div>

    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">Olympea`s Essence</h3>

        <p style="text-align:center">
            The concept is based on the idea of a modern Greek goddess and evokes strength, dynamism and conquests.
            The perfume is developed by Loc Dong and Anne Flipo. Its both salty and floral compositions is characterized
            as fresh oriental, opening with sparkling green mandarin, aquatic notes of water jasmine and fiery ginger
            lily, with salted vanilla in the heart. The base notes are sandalwood, cashmere and ambergris.
        </p>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Urban Goddess</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p style="text-align:center">
                Paco Rabanne launches a new feminine fragrance in August 2015 under the mythical name of Olympéa.
                Olympéa represents the equivalent of the masculine edition Invictus from 2013, inspired by the athletic
                spirit, competition and victory.
            </p>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #282E34;">DESIGN</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p style="text-align:center">
                The face of the perfume is Brazilian model Luma Grothe. The bottle is shaped like a laurel crown,
                designed by Marc Ange. The fragrance is available as 30, 50 and 80 ml Eau de Parfum. Olympea was created
                by Loc Dong, Anne Flipo and Dominique Ropion.
            </p>
        </div>
    </div>

    <div class="bgimg-1">
        <div class="caption">
            <span class="border"><a href="/search/productdetail?pId=2">BUY NOW!<a></span>
        </div>
    </div>

